/GestionAchat/GestionAchat-ejb/target/
/GestionAchat/GestionAchat-web/target/
/GestionAchat/GestionAchat-ear/target/
/GestionComptable/GestionComptable-ejb/target/
/GestionComptable/GestionComptable-web/target/
/GestionComptable/GestionComptable-ear/target/